<div id="todoapp">
  <div class="title">
    <h1>Parse Todos</h1>
  </div>

  <div class="content">
  </div>
</div>

<div id="credits">
  Powered by <a href="https://www.parse.com">Parse</a> using the <a href="https://www.parse.com/docs/js_guide">JavaScript SDK</a>.<br /><br />
  Learn how we built it in the <a href='https://parse.com/tutorials/todo-app-with-javascript'>tutorial</a>.
</div>