<!DOCTYPE html>
<html>
<head>
  <title>TodoParse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script type="text/javascript">
    _.templateSettings = {
    evaluate:    /\{\{=(.+?)\}\}/g,
    interpolate: /\{\{(.+?)\}\}/g,
    escape:      /\{\{-(.+?)\}\}/g
  };
  </script>
  


  <script src="//www.parsecdn.com/js/parse-1.1.15.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
